.right-board {
  .field-box {
    position: relative;
    height: calc(100% - 42px);
    box-sizing: border-box;
    overflow: hidden;
  }
  .el-scrollbar {
    height: 100%;
  }
  .right-scrollbar {
    .el-scrollbar__view {
      padding: 12px 18px 15px 15px;
    }
  }
}

.center-tabs{
  user-select: none;
  .el-tabs__header{
    margin-bottom: 0!important;
  }
  .el-tabs__item{
    width: 50%;
    text-align: center;
  }
  .el-tabs__nav{
    width: 100%;
  }
}

.document-link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #409eff;
  z-index: 1;
  border-radius: 0 0 0 6px;
  text-align: center;
  line-height: 26px;
  color: #fff;
  font-size: 18px;
}

.select-item{
  display: flex;
  align-items: center;
  border: 1px dashed #fff;
  box-sizing: border-box;
  margin-bottom: 5px;
  & .close-btn {
    cursor: pointer;
    color: #f56c6c;
    margin-left: 4px;
  }
  & .el-input  {
    margin-left: 4px;
  }
}


// 修改element-ui样式
.form-column-radio-group{
  width: 100%;
  display: flex;
  > .el-radio-button {
    flex: 1;
    > .el-radio-button__inner {
      width: 100%;
    }
  }
}


.reg-item{
  width: 100%;
  box-sizing: border-box;
  padding: 12px 6px;
  background: #f8f8f8;
  position: relative;
  border-radius: 4px;
  .close-btn{
    position: absolute;
    right: -6px;
    top: -6px;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    font-size: 12px;
    &:hover{
      background: rgba(210, 23, 23, 0.5)
    }
    .el-icon{
      font-size: 14px;
    }
  }
  & + .reg-item{
    margin-top: 18px;
  }
}