@import "~/style/common.scss";

// 顶部按钮样式
.action-bar{
  position: relative;
  height: 42px;
  text-align: right;
  padding: 0 15px;
  box-sizing: border-box;;
  border: 1px solid #f1e8e8;
  border-top: none;
  border-left: none;
  & .el-button {
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }
  & i {
    font-size: 20px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
}