.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.left-board {
  width: 260px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
.center-board {
  width: auto;
  height: 100vh;
  margin: 0 350px 0 260px;
  box-sizing: border-box;
}
.right-board {
  width: 350px;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 3px;
}