@import "~/style/common.scss";



.left-scrollbar{
  height: calc(100vh - 42px);
  overflow: hidden;
}
// 组件列表
.components-list {
  padding: 8px;
  box-sizing: border-box;
  height: 100%;
  .component-item {
    display: inline-block;
    width: 48%;
    margin: 1%;
    transition: transform 0ms !important;
  }
}
// 组件列表标题
.components-title{
  font-size: 14px;
  color: #222;
  margin: 6px 2px;
  .svg-icon{
    color: #666;
    font-size: 18px;
  }
  >span{
    display: inline-block;
    margin-left: 4px;
  }
}
.components-draggable{
  padding-bottom: 20px;
}
// 组件内容
.component-body {
  padding: 8px 10px;
  background: $selectedColor;
  font-size: 12px;
  cursor: move;
  border: 1px dashed $selectedColor;
  border-radius: 3px;
  .svg-icon{
    color: #777;
    font-size: 15px;
  }
  > span{
    display: inline-block;
    margin-left: 4px;
  }
  &:hover {
    border: 1px dashed #787be8;
    color: #787be8;
    .svg-icon {
      color: #787be8;
    }
  }
}